/**
 * flags v1.0
 * Copyright Tsafi Y
 
 */
* {
  padding: 0;
  margin: 0;

}

.shadow-1, .language-dropdown ul.lang-list, .language-dropdown label {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-2, .language-dropdown.open label {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}


.contain-flags{
  position:absolute;
  padding-top: 65px;
  padding-left:5px;
	z-index: 2;

		}
.language-dropdown {
  display: inline-block;
  margin-top:4px;/* flag to text space*/
}
.language-dropdown .lang-en {border-left: 4px solid #E2162C;}
/*.language-dropdown .lang-en .flag {background-image: url("flags/usaav.png");}*/
.language-dropdown .lang-sp {border-left: 4px solid #ded724;}
/*.language-dropdown .lang-sp .flag {background-image: url("flags/spain.png");}*/
.language-dropdown .lang-pt {border-left: 4px solid #13da22;}
/*.language-dropdown .lang-pt .flag {background-image: url("flags/portugalg.png");}*/
.language-dropdown label, .language-dropdown ul li {
  box-sizing: border-box;
  display: block;
  width: 100px;/* flag box size*/
  height: 32px;/* flag box size*/
  background: rgba(255, 255, 255,.5);/* flag box color*/
  cursor: pointer;
}
.language-dropdown ul.lang-list {
  position: relative;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}
.language-dropdown ul.lang-list li {
  border-bottom: 1px solid #ECECEC;
}
.language-dropdown ul.lang-list li:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.language-dropdown ul.lang-list li.selected {
  display: none;
}
.language-dropdown label {
  position: relative;
  border-bottom: 1px solid #ECECEC;
  border-radius: 3px;
  z-index: 2;
}
.language-dropdown .lang-flag .flag, .language-dropdown .lang-list .lang .flag {
  float: left;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-size: 100px 24px;
  background-repeat: no-repeat;
  background-position: center;
}
.language-dropdown.open ul.lang-list {
  visibility: visible;
  opacity: 1;
}
.language-dropdown.open label {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.animate, .lang-flag, .lang-list {
  cursor: pointer;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
#lang_selected{
 margin-left: 2px;
		}
.flag_text{
	background-color: rgba(255, 255, 255,.5);
	letter-spacing: 1px;
	padding:5px ;
		color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 1px rgba(255, 247, 247,1);
	
}
.flag{
color: rgba(0, 0, 0, 1);
	letter-spacing: 1px;
		
	margin-left: 5px;
	margin-top: 4px;
}
.flag_text{
	display:none;
}